@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Asap';

  src: url('../fonts/Asap/Asap-Regular.woff2') format('woff2');
  src: url('../fonts/Asap/Asap-Regular.eot') format('embedded-opentype'),
       url('../fonts/Asap/Asap-Regular.otf') format('otf'),
       url('../fonts/Asap/Asap-Regular.svg') format('svg'),
       url('../fonts/Asap/Asap-Regular.ttf') format('truetype'),
       url('../fonts/Asap/Asap-Regular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Asap';

  src: url('../fonts/Asap/Asap-Medium.woff2') format('woff2');
  src: url('../fonts/Asap/Asap-Medium.eot') format('embedded-opentype'),
       url('../fonts/Asap/Asap-Medium.otf') format('otf'),
       url('../fonts/Asap/Asap-Medium.svg') format('svg'),
       url('../fonts/Asap/Asap-Medium.ttf') format('truetype'),
       url('../fonts/Asap/Asap-Medium.woff') format('woff');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Asap';

  src: url('../fonts/Asap/Asap-SemiBold.woff2') format('woff2');
  src: url('../fonts/Asap/Asap-SemiBold.eot') format('embedded-opentype'),
       url('../fonts/Asap/Asap-SemiBold.otf') format('otf'),
       url('../fonts/Asap/Asap-SemiBold.svg') format('svg'),
       url('../fonts/Asap/Asap-SemiBold.ttf') format('truetype'),
       url('../fonts/Asap/Asap-SemiBold.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Asap';

  src: url('../fonts/Asap/Asap-Bold.woff2') format('woff2');
  src: url('../fonts/Asap/Asap-Bold.eot') format('embedded-opentype'),
       url('../fonts/Asap/Asap-Bold.otf') format('otf'),
       url('../fonts/Asap/Asap-Bold.svg') format('svg'),
       url('../fonts/Asap/Asap-Bold.ttf') format('truetype'),
       url('../fonts/Asap/Asap-Bold.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: italic;
  font-family: 'Asap';

  src: url('../fonts/Asap/Asap-italic.woff2') format('woff2');
  src: url('../fonts/Asap/Asap-italic.eot') format('embedded-opentype'),
       url('../fonts/Asap/Asap-italic.otf') format('otf'),
       url('../fonts/Asap/Asap-italic.svg') format('svg'),
       url('../fonts/Asap/Asap-italic.ttf') format('truetype'),
       url('../fonts/Asap/Asap-italic.woff') format('woff');
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Lato';

  src: url('../fonts/Lato/Lato-Light.woff2') format('woff2');
  src: url('../fonts/Lato/Lato-Light.eot') format('embedded-opentype'),
       url('../fonts/Lato/Lato-Light.otf') format('otf'),
       url('../fonts/Lato/Lato-Light.svg') format('svg'),
       url('../fonts/Lato/Lato-Light.ttf') format('truetype'),
       url('../fonts/Lato/Lato-Light.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat';

  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
  src: url('../fonts/Montserrat/Montserrat-Regular.eot') format('embedded-opentype'),
       url('../fonts/Montserrat/Montserrat-Regular.otf') format('otf'),
       url('../fonts/Montserrat/Montserrat-Regular.svg') format('svg'),
       url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
}

