<section id="sayHello" class="footer">
  <div class="content footer__content">
    <h2 class="heading heading--footer">say hello!</h2>
    <div class="feedback">
      <form action="" method="post" class="feedback__form">
        <div class="feedback__inner-row">
          <input type="text" class="feedback__input" placeholder="Name">
          <input type="email" class="feedback__input" placeholder="Email">
        </div>
        <textarea name="message" placeholder="Message"></textarea>
        <button class="btn btn--footer">SEND</button>
      </form>
    </div>
    <div class="footer__button-fixed">
      <a href="#" class="btn btn--footer">
        <!-- <svg>
          <use xlink:href="images/sprite.svg#up-arrow"></use>
        </svg> -->
      </a>
    </div>
    <div class="footer__copyright-wrap">
      <div class="social">
        <ul class="social__list">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#">in</a></li>
          <li><a href="#"></a></li>
          <li><a href="#">Bё</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <span class="footer__copyright">2022. All Right Reserved</span>
    </div>
  </div>
</section>