<div class="header">
  <div class="content header__content">
    <div class="header__block">
      <div class="header__logo-wrap">
        <svg class="header__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14.46mm"
          height="14.46mm" viewBox="0 0 41 41">
          <defs>
            <style>
              .cls-1,
              .cls-2 {
                fill: none;
              }
              .cls-2 {
                stroke: #000;
                stroke-linejoin: round;
              }
              .cls-3 {
                clip-path: url(#clip-path);
              }
            </style>
            <clipPath id="clip-path">
              <circle class="cls-1" cx="20.5" cy="20.5" r="20" />
            </clipPath>
          </defs>
          <g id="Слой_2" data-name="Слой 2">
            <g id="Layer_1" data-name="Layer 1">
              <g>
                <circle class="cls-2" cx="20.5" cy="20.5" r="20" />
                <g class="cls-3">
                  <line class="cls-2" x1="20.5" y1="40.5" x2="20.5" y2="0.5" />
                  <line class="cls-2" x1="15.5" y1="40.5" x2="15.5" y2="0.5" />
                  <line class="cls-2" x1="10.5" y1="40.5" x2="10.5" y2="0.5" />
                  <line class="cls-2" x1="5.5" y1="40.5" x2="5.5" y2="0.5" />
                  <line class="cls-2" x1="20.5" y1="35.5" x2="40.5" y2="35.5" />
                  <line class="cls-2" x1="20.5" y1="30.5" x2="40.5" y2="30.5" />
                  <line class="cls-2" x1="20.5" y1="25.5" x2="40.5" y2="25.5" />
                  <line class="cls-2" x1="20.5" y1="20.5" x2="40.5" y2="20.5" />
                  <line class="cls-2" x1="20.5" y1="15.5" x2="40.5" y2="15.5" />
                  <line class="cls-2" x1="20.5" y1="10.5" x2="40.5" y2="10.5" />
                  <line class="cls-2" x1="20.5" y1="5.5" x2="40.5" y2="5.5" />
                </g>
              </g>
            </g>
          </g>
        </svg>
        <p class="header__logo-text">OENRIQUE</p>
        <p class="header__logo-subtext">UX/UI EXPERT</p>
      </div>
      <nav class="navigation">
        <ul class="navigation__list">
          <li><a href="#" class="navigation__link navigation__link--active">Home</a></li>
          <li><a href="#testimonials" class="navigation__link">About</a></li>
          <li><a href="#service" class="navigation__link">Service</a></li>
          <li><a href="#portfolio" class="navigation__link">Portfolio</a></li>
          <li><a href="#sayHello" class="navigation__link">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__main-message">
      <h1 class="header__title">Luis Oenrique</h1>
      <p class="header__subtitle">User Experience / User Interface Expert</p>
      <div class="header__buttons-wrap">
        <a href="#aboutMe" class="btn header__btn">KNOW MORE</a>
        <button class="btn header__btn">HIRE ME</button>
      </div>
    </div>
  </div>
</div>