.container {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;

  &__button-fixed {
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;

    &--active {
      opacity: 1;
      transition: 0.3s;
    }

    @include desktop-and-bigger {
      right: 120px;
      bottom: 160px;
    }

    & button {
      position: relative;
      width: 45px;
      height: 41px;
      padding: 0;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: url('../images/svg/up-arrow.svg') center / cover no-repeat;
      }
    }
  }
}
