.service {
  background: $wild_sand;

  &__list {
    display: grid;
    align-items: baseline;
    gap: 70px 0;

    @include phone-and-bigger {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
    }

    & li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }

    & svg {
      width: 77px;
      height: 81px;
      fill: $tundora;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    text-align: center;
    max-width: 230px;
  }
}
