.testimonials {
  padding-bottom: 150px;

  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid $black;
    margin: 0 auto;
    max-width: 956px;
    padding: 50px 25px 20px;

    @include tablet-and-bigger {
      padding: 80px 30px 30px;
    }

    @include desktop-and-bigger {
      padding: 80px 110px 30px;
    }
  }

  &__card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    max-height: 467px;
    display: none;

    @include tablet-and-bigger {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__avatar {
    width: 159px;
    margin-bottom: 30px;

    & img {
      width: 159px;
      aspect-ratio: 1 / 1;
      width: 100%;
      object-fit: cover;
    }

    @include tablet-and-bigger {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  &__about {
    text-transform: uppercase;
    max-height: 100%;
    text-align: center;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    @include tablet-and-bigger {
      text-align: start;
      max-height: 167px;
    }
  }

  &__name {
    font-size: 30px;
    font-weight: 600;
  }

  &__specialty {
    font-style: italic;
    font-size: 12px;
  }

  &__text {
    opacity: 0.6;
    max-width: 538px;
    line-height: 26px;
    margin-top: 10px;

    @include phone-and-bigger {
      text-align: start;
    }
  }

  &__list-buttns {
    display: flex;
    justify-content: center;
    gap: 4px;
    z-index: 20;

    & label {
      display: block;
      width: 13px;
      height: 13px;
      border: 1px solid $black;
      cursor: pointer;
    }
  }

  &__funfacts {
    background: $wild_sand;
    padding: 65px 25px;
    
    @include tablet-and-bigger {
      padding: 70px 135px;
    }
  }

  &__list-funfacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 156px;

    & li {
      text-align: center;
      color: $black;
      opacity: 0.7;

      & span {
        display: block;
      }
    }

    & img {
      height: 81px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &__quantity {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  &__denomination {
    font-size: 22px;
    font-weight: 500;
  }
}

#bt1:checked ~ .testimonials__list-buttns label[for='bt1'],
#bt2:checked ~ .testimonials__list-buttns label[for='bt2'],
#bt3:checked ~ .testimonials__list-buttns label[for='bt3'] {
  background: $black;
}

#bt1:checked ~ #slide1,
#bt2:checked ~ #slide2,
#bt3:checked ~ #slide3 {
  display: flex;
}
